.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #44c767;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.5s ease;
}