<main class="p-10">
  <p class="font-thin text-gray-500 text-3xl text-center mb-1">
    This is About component!
  </p>
  <p class="font-thin text-gray-500 text-sm text-center mb-10"></p>
  <div
    class="w-[60vw] h-[60vh] flex justify-around gap-10 m-auto bg-gradient-to-br from-gray-50 to-gray-300 rounded-xl p-10 shadow-xl"
  >
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam minima
    laudantium dolorem voluptatum ut neque magni explicabo labore, similique
    quod eos corrupti error ad dicta nulla porro quos. Dignissimos, accusantium?
  </div>
  <button
    (click)="getItems()"
    class="bg-gray-700 text-white font-light shadow-xl transition-all ease-in-out duration-200 p-2 rounded hover:scale-105 cursor-pointer"
  >
    Get Items
  </button>
  <!-- <button
    (click)="putItems()"
    class="bg-gray-700 text-white font-light shadow-xl transition-all ease-in-out duration-200 p-2 rounded hover:scale-105 cursor-pointer"
  >
    Put Items
  </button> -->
</main>
